/* Used on all pages */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sidebar {
  grid-column: span 1;
  text-align: center;
}

.content {
  grid-column: span 3;
}

#container-main {
  margin-top: 2em;
}

#buddypic {
  border-radius: 50%;
}

#name {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.8em;
  margin-top: 15px;
}

#blurb {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #777;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  margin-bottom: 5px;
}

/* Home page */

#post-index {
  line-height: 1.4em;
}

#post-index a {
  font-size: 1.3em;
  margin-left: 0.2em;
}

#post-index p {
  margin-bottom: 25px;
}

/* Posts */

#post-date {
  font-size: 1.2em;
  font-style: italic;
  color: #999;
}

#content {
  margin-top: 25px;
  margin-bottom: 50px;
}

#plt {
  text-align: center;
  color: #999;
}
