<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div id="container-main" class="container-fluid">
<div class="row">
  <div class="col-md-3">
    <p><a href="/"><img id="buddypic" class="center-block img-circle" src="/images/buddy.jpg"></a></p>
    <div class="text-center">
      <a id="name" href="/">Buddy Brewer</a>
      <p id="blurb" class="text-muted">
        Web performance entrepreneur, CrossFitter, NASCAR fan. I like things that go fast. (<a href="/about/">more</a>)
      </p>
    </div>
  </div>
  <div class="col-md-9">
    {{ content }}
  </div>
</div>
<p id="plt"></p>
<script>
  window.onload = function() {
      if (window.performance) {
      var plt, str = "This page loaded in ";
      plt = window.performance.timing.loadEventStart - window.performance.timing.navigationStart;
      str += plt + " ms";
      document.getElementById('plt').innerHTML = str;
    }
  };
</script>

</div>

</body>
</html>
