<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/bootstrap-2.0.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-2.0.4/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script type="text/javascript">
  (function() {
    var twttr = document.createElement('script');
    twttr.src = '//platform.twitter.com/widgets.js';
    twttr.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(twttr);
  })();

  {% if site.env == 'production' %}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23024889-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  {% endif %}
  </script>
</head>

<body>

<div class="container">
<div class="row" style="margin-top: 10px">
  <div class="span3">
    <a href="/"><img src="/images/buddy.png"></a>
    <a id="name" href="/">Buddy Brewer</a>
    <div id="blurb">
      <a href="http://www.lognormal.com">Real user measurement</a> entrepreneur, CrossFitter, NASCAR fan. I like things that go fast. <a href="/about/">More...</a>.
    </div>
    <a href="http://twitter.com/bbrewer" class="twitter-follow-button">Follow @bbrewer</a>
  </div>
  <div class="span8 offset1">
    {{ content }}
  </div>
</div>
</div>


{% if site.env == 'production' %}
  <script type='text/javascript' src='http://lognormal.net/boomerang/d08d81a2e6d1d2d38d96be3eb61c7fc1d09dc447675be040ea6ffd83'></script>
{% endif %}

</body>
</html>
