<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M9Q4KV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M9Q4KV');</script>
<!-- End Google Tag Manager -->

<div id="container-main" class="container-fluid">
<div class="row">
  <div class="col-md-3">
    <p><a href="/"><img id="buddypic" class="center-block img-circle" src="/images/buddy.jpg"></a></p>
    <div class="text-center">
      <a id="name" href="/">Buddy Brewer</a>
      <p id="blurb" class="text-muted">
        Web performance entrepreneur, CrossFitter, NASCAR fan. I like things that go fast. (<a href="/about/">more</a>)
      </p>
    </div>
  </div>
  <div class="col-md-9">
    {{ content }}
  </div>
</div>
<p id="plt"></p>
<script>
  window.onload = function() {
      if (window.performance) {
      var plt, str = "This page loaded in ";
      plt = window.performance.timing.loadEventStart - window.performance.timing.navigationStart;
      str += plt + " ms";
      document.getElementById('plt').innerHTML = str;
    }
  };
</script>

</div>

</body>
</html>
